    /* ===============================
   PAGINA DE INICIO
================================= */
@font-face {
  font-family: 'Sawsome';
  src: url('../font/SAWesome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Danger';
  src: url('../font/Danger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monster';
  src: url('../font/Monster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --bg: #1a031d;
  --text: #F97316;
  --pumpkin: #F97316;
  --specter: #640bf2;
  --slime: #84CC16;
  --smoke: #B3B3B3;
  --blood: #2b0202;
}
*{ box-sizing:border-box; }


    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
      background: radial-gradient(800px at 50% 0%, rgba(249,115,22,.2), transparent 70%),
                  var(--bg);
      background: url('../img/jigsaw.jpg') center/cover no-repeat;
      color: var(--text);
      animation: glowPulse 6s ease-in-out infinite;
    }

    .intro-logo {
      max-width: 500px;
      animation: flicker 3s infinite;
    }

    .intro-btn {
      font-family: 'mONSTER', sans-serif;
      margin-top: 2rem;
      padding: 1rem 2rem;
      background: linear-gradient(100deg, var(--blood), var(--pumpkin));
      color: #000000;
      text-decoration: none;
      font-weight: bold;
      border-radius: 10px;
      box-shadow: 0 0 50px rgba(186, 77, 0, 0.775);
      transition: transform 0.1s ease, filter 0.1s ease;
    }

    .intro-btn:hover {
      transform: scale(1.5);
      animation: flicker 1s infinite;
      filter: brightness(1.5);
    }

    /* ===================================
   EFECTO FLICKER (PARPADEO)
===================================== */
@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    filter: drop-shadow(0 0 10px rgba(249,115,22,.6))
            drop-shadow(0 0 25px rgba(91,33,182,.5));
    opacity: 1;
  }
  20%, 24%, 55% {
    filter: drop-shadow(0 0 2px rgba(249,115,22,.2));
    opacity: 0.7;
  }
}

/* === Respiración === */
@keyframes glowPulse {
  0%, 100% {
    filter: brightness(1) drop-shadow(0 0 5px rgba(249,115,22,.25));
    transform: scale(1);
  }
  50% {
    filter: brightness(1.2) drop-shadow(0 0 15px rgba(249,115,22,.45));
    transform: scale(1.02);
  }
}

/* === LANDING ≤700PX === */
.is-700 .intro-logo{ max-width:72vw; }
.is-700 .intro-btn{ transform:none; }